/***************************************************HEADER******************************************************************/
.barreNav {
    width: 100%;
}
nav a {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
}
nav a:hover {
    border-bottom-color: #0065FC;
    border-top-color: transparent;
}
nav img {
    width: 7em;
    margin: 0 30%;
}
/***************************************************GENERAL******************************************************************/
main {
    margin: 0% 5%;
    display: flow-root;
    justify-content: center;
}
h1 {
   font-size: x-large;
   padding-left: 3%;  
}
p {
    font-size: small;
    padding-left: 3%;  
}
/******************************************BARRE DE RECHERCHE*********************************************************************/
.barreDeRecherche {
    align-items: baseline;
    margin-right: 4%;
}
#iconLocation {
    padding: 3%;
    border: 2px solid #F2F2F2;
}
.barreDeRecherche input {
    padding: 3%;
    border: 1px solid #F2F2F2;
    border-right: none;
}
#recherche { 
    display: none;
}
#boutonRecherche {
    border: 6px solid #0065FC;
    border-radius: 10px ;
    padding: 2% ;
}
#loupeBouton {
   display: block;
   align-items: center;
   color: white;
   background-color: #0065FC;
}
/***************************************************FILTRES******************************************************************/
#blocFiltres {
    display: flex;
    flex-wrap: wrap;
}
#filtres {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 3% 19%;
}
#filtres div {
    margin-bottom: 10%;
    padding: 3% 20% 3% 0;
}