/*********************************************POLICE IMPORTE***********************************************************/
@font-face {
    font-family: 'ralewayBlack' ;
    src: url(/police/Raleway-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'ralewayBlackItalic' ;
    src: url(/police/Raleway-BlackItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'ralewayBold' ;
    src: url(/police/Raleway-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'ralewaymedium' ;
    src: url(/police/Raleway-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'ralewayThin' ;
    src: url(/police/Raleway-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'ralewayLight' ;
    src: url(/police/Raleway-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'ralewayExtraLight' ;
    src: url(/police/Raleway-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: 'ralewayRegular' ;
    src: url(/police/Raleway-Regular.ttf) format('truetype');
}
/********************************************ENSEMBLE DE LA PAGE***********************************************************/

* {
    box-sizing: border-box;
    font-family: 'ralewayRegular', 'sans-serif';
}
/***************************************************HEADER******************************************************************/
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0% 2%;
}
nav a {
    color: inherit;
    text-decoration: none;
    padding: 32px;
    border-top: 3px solid transparent;
}
nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
nav img {
    margin-right: auto;
    width: 9%;
    MARGIN-LEFT: 1%;
}
.barreNav {
    display: flex;
}
/***************************************************BARRE DE RECHERCHE******************************************************************/
main {
    padding: 0 4%;
}
#loupeBouton {
    display: none;
}
h1 {
    font-size: x-large;
    padding-top: 2%;
}
.barreDeRecherche{
    display: flex;
    align-items: center;
}
#iconLocation {
    background-color: #F2F2F2;
    padding: 1%;
    border: 3px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.barreDeRecherche input {
    border: 2px solid #F2F2F2;
    font-weight: bold;
    color: black;
    padding: 1% ;

}
.barreDeRecherche button {
    border: 1px solid #0065FC;
    text-align: center;
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    padding: 1%;
}
/***************************************************FILTRES******************************************************************/
#blocFiltres {
    display: flex;
    margin-top: 2%;
    align-items: baseline;
    gap: 3%;


}
#filtres {
    position: relative;
    width: 80%;
    display: inline-flex;
    gap: 7%;
}
#blocFiltres p {
    font-family: 'ralewayBold';
    font-size: 20px;

}
#filtres div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid #F2F2F2;
    padding: 1% 20% 1% 0;
    border-radius: 40px;
    width:min-content;
    font-family: 'ralewayBold';

}
#filtres a{
    text-decoration: none;

}
#filtres div i{
    background-color: #DEEBFF;
    align-items: center;
    color:#0065FC;
    margin: -3% 10% -3% -3%;
    padding: 1rem;
    border-radius: 50%;
}
#filtres a:hover div{
    background-color: #0065FC;
    transform: scale(1.2);
    transition: all 300ms;
    color: white;
}
/*#listeFiltres p,h2 {
    font-family: 'ralewayBold', sans-serif;
}
#listeFiltres {
    display: flex;
    align-items: center;
    margin-top: 2%;
    gap: 3%;
}
.filtres {
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    padding: 1rem;


}
.filtres p {
    padding: 0 1rem;
}
.filtres i {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 10%;
    border-radius: 50%;
}*/
/***********************************************TEXTE AVANT BLOC HEBERGEMENT******************************************************************/
#texteAvantBloc {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 1%;
    gap: 1%;

}
#texteAvantBloc i {
    color: #0065FC;
    height: 2rem;
    width: 2rem;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/***************************************************BLOC HEBERGEMENT+POPULAIRE******************************************************************/
/*HEBERGEMENT*/
#blocHebergementEtPopulaire {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3%;
}
#blocHebergement {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    flex-basis: 70%;
}
#blocHebergement a {
    text-decoration: none;
    font-weight: bold;
}
#hebergement {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}
.carteHebergement {
    border: 1px solid #0065FC;
    flex-basis: 30%;
    margin-bottom: 2%;

}
/*POPULAIRE*/
#blocPopulaire {
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    flex-basis: 30%;
    flex-direction: column;
}
#blocPopulaire i {
padding-left: 35%;
}
#populaire {
    display: flex;
    flex-direction: column;
}
.cartePopulaire {
    border: 1px solid #0065FC;
    margin-bottom: 2%;
}
