/***************************************************HEADER******************************************************************/
.barreNav {
    width: 100%;
}
nav a {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
}
nav a:hover {
    border-bottom-color: #0065FC;
    border-top-color: transparent;
}
nav img {
    width: 127px;
    margin: 0 27%;
}
/***************************************************GENERAL******************************************************************/
main {
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    align-items: flex-start;
}
h1 {
   font-size: x-large;
   margin: 5% 2% 2% 4%;
}
#infoRecherche {
    font-size: small;
    margin: 1% 2% 6% 4%;
}
/******************************************BARRE DE RECHERCHE*********************************************************************/
.barreDeRecherche {
    align-items: center;
    width: 330px;
    margin-left: 6%;
    
}
#iconLocation {
    padding: 3%;
    border: 2px solid #F2F2F2;
}
.barreDeRecherche input {
    padding: 3% 5%;
    border: 1px solid #F2F2F2;
    border-right: none;
}
#recherche { 
    display: none;
}
#boutonRecherche {
    border: 6px solid #0065FC;
    border-radius: 10px ;
    padding: 2% ;
    margin-left: -5%;
}
#loupeBouton {
   display: block;
   align-items: center;
   color: white;
   background-color: #0065FC;
}
/***************************************************FILTRES******************************************************************/
#blocFiltres {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}
#filtres {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 3% 2%;
}
#filtres div {
    margin-bottom: 10%;
    padding: 3% 4% 3% 0;
}
#filtres div span {
    font-size: 20px;
}
/***************************************************TEXTE AVT BLOC HEBERGEMENT+POPULAIRE******************************************************************/
#texteAvantBloc {
    gap: 4%; 
    margin-left: 4%;
    margin-bottom: 5%;
}

/***************************************************BLOC HEBERGEMENT+POPULAIRE******************************************************************/
#blocHebergementEtPopulaire {
    flex-direction: column-reverse;
    align-items: stretch
}
/*HEBERGEMENT*/

#blocHebergement {
    background-color: transparent;
    border: none;
    border-radius: 0%;
}
#blocHebergement h2 {
    margin: 9% 0% 8% 0%;
    font-size: larger;
}
#hebergement {
    width: 100%;
    justify-content: space-evenly;
    gap: 5%;
}
.carteHebergement {
    flex-basis: 100%;
    max-width: none;
    box-shadow: 4px 2px 20px 0px rgb(221 215 215);
    padding: 2%;
}
.carteHebergement h4, .carteHebergement p {
    margin: 2%;
}
.prix {
    font-size: small;
}
/*POPULAIRE*/
#blocPopulaire {
    border-radius: 0%;
    padding: 5%;
    width: 100%;
}
#blocPopulaire h2 {
    margin: 5% 0% 8% 0%;
    font-size: larger;
}
#populaire {
    gap: 10px;
}
#populaire img {
    height: 120px;
}
.cartePopulaire {
    align-items: center;
}
.commentairePopulaire {
    height: 100%;
    font-size: 90%;
}
.commentairePopulaire .etoile {
    margin-top: 25%;
    font-size: 70%;
}
/***************************************************BLOC ACTIVITES******************************************************************/
#blocActivites {
    width: 100%;
    align-items: stretch;
    padding: 2%;
}
#activites {
    flex-direction: column;
}
.carteActivites {
    height: 300px;
    width: 100%;
    align-items: center;
    margin-bottom: 4%;
}
#fortDePomegues , #notreDameDeLaGarde {
    margin-bottom: 4%;
}
#vieuxPort img , #parcNationalDesCalanques img , #fortDePomegues img , #parcLongchamp img , #ileDuFrioul img , #notreDameDeLaGarde img {
    width: 100%;
    height: 120px;
}
.carteActivites:hover {
    transform: scale(1.03);
    transition: all 300ms;
}
/***************************************************FOOTER******************************************************************/
footer {
    flex-direction: column;
}